

<app-player *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 100 + (i * 90)}" [playerActive]="i == game.currentPlayer" [name]="player" class="player-position"></app-player>

<div class="field">
  <div class="card-stack">
    <div *ngFor="let count of [0, 1, 2, 3]; let i = index">
      <img
        [ngStyle]="{ 'right.px': i * 5 }"
        src="/assets/img/cards/card_cover.png"
        [id]="i"
      />
    </div>
    <!-- card stack -->
    <img
      (click)="takeCard()"
      style="right: 20px"
      src="/assets/img/cards/card_cover.png"
      class="first-card"
    />
    <!--     [class.take-card]="takeCardAnimation" -->
    <!-- klasse wird angezeigt, wenn variable tabkeCardAnimation true ist siehe ts -->

    <!-- stack for played cards -->
    <img
      *ngFor="let card of game.playedCards"
      style="right: 20px"
      src="/assets/img/cards/{{ card }}.png"
      class="played-card"
    />

    <!-- current card (animation) -->
    <img
      (click)="takeCard()"
      *ngIf="takeCardAnimation"
      style="right: 20px"
      src="/assets/img/cards/{{ currentCard }}.png"
      class="take-card-animation"
    />
  </div>
</div>

<app-game-info [card]="currentCard"></app-game-info>

<button mat-fab (click)="openDialog()" class="btn-add" style="background-color: orange">
  <mat-icon>add</mat-icon>
</button>